{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-6">
            <h1 class="text-left">Food suppliers</h1>
        </div>
        <div class="col-md-6">
            <a class="pull-right btn btn-primary" href="{{ path('foodsupplier_new') }}">Create food supplier</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {% if foodSuppliers is not empty %}
                <table id='food-suppliers' class="table table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Delivery cost</th>
                            <th>Free delivery threshold</th>
                            <th>Single package cost</th>
                            <th>Phone number</th>
                            <th>Website</th>
                            <th>Menu</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for foodSupplier in foodSuppliers %}
                        <tr>
                            <td><a href="{{ path('foodsupplier_show', { 'id': foodSupplier.id }) }}">{{ foodSupplier.id }}</a></td>
                            <td class="food-supplier-name">{{ foodSupplier.name }}</td>
                            <td class="food-supplier-delivery-cost">{{ foodSupplier.deliveryCost }}</td>
                            <td class="food-supplier-free-delivery-threshold">{{ foodSupplier.freeDeliveryThreshold }}</td>
                            <td class="food-supplier-single-package-cost">{{ foodSupplier.singlePackageCost }}</td>
                            <td class="food-supplier-phone-number">{{ foodSupplier.phoneNumber }}</td>
                            <td class="food-supplier-website-url">{{ foodSupplier.websiteUrl }}</td>
                            <td class="food-supplier-menu-url">{{ foodSupplier.menuUrl }}</td>
                            <td>
                                <a class="pull-right btn btn-danger" href="{{ path('foodsupplier_delete', { 'id': foodSupplier.id }) }}">delete</a>
                                <a class="pull-right btn btn-primary" href="{{ path('foodsupplier_edit', { 'id': foodSupplier.id }) }}">edit</a>
                                <a class="pull-right btn btn-primary" href="{{ path('foodsupplier_show', { 'id': foodSupplier.id }) }}">show</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
{% endblock %}
