{% extends 'base.html.twig' %}

{% block body %}
    <h1>MenuItem edit</h1>

    {{ form_start(edit_form, {attr: {id: 'menu-item-form'}}) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('foodsupplier_show', {id: menuItem.foodSupplier.id}) }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
